.body-home{
	background: url("../images/login-background.jpg") no-repeat top center;
	min-height: 1200px;
}

.area-login{
	background-color: RGBA(60, 155, 41, 0.8);
	margin-top: 200px;
	padding: 40px;
}

.label-field{
	width: 100%;
}

.senha-link, .cadastrar-link{
	color: white;
	text-decoration: underline;
	font-size: 10px;
}

header{
	background-color: #60BB22;
	height: 100px;
}

footer{
	background-color: #60BB22;
	height: 100px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.logo-header{
	width: 150px;
	padding-top: 15px;
	padding-left: 15px;
}

.c-header, .c-footer{
	background-color: #60BB22;
	width: 100% !important;
}

body{
	margin: 0;
	padding: 0;
}

.body-cadastro{
	margin-bottom: 120px;
}

.tipo-usuario{
	padding-bottom: 10px;
}

.cadastrar-field{
	padding-bottom: 10px;
}

.label-field-editar{
	width: 330px;
	height: 20px;
}

.label-field-teste{
	width: 100px;
	height: 20px;
}

.editar-foto{
	width: 90px;
	position: absolute;
	opacity: 0.8;
	margin-left: 50px;
}

.editar-cadastro-field{
	padding-bottom: 7px;
}

.editar-coluna1{
	width: 70px;
	height: 20px;
}

.coluna1{
	width: 150px;
}

.coluna2{
	width: 130px;
}

.editar-coluna2{
	width: 100px;
	height: 20px;
}

.editar-form{
	font-size: 12px;
	position: relative;
}

.button-cancelar, .button-cadastrar{
	background-color: #60BB22;
	color: white;
	margin-top: 10px;
	margin-left: 8px;
	margin-right: 5px;
	float: right;
}

.button-deletar{
	background-color: red;
	color: white;
	margin-top: 10px;
	margin-left: 8px;
	margin-right: 5px;
	float: right;
}

.principal{
	border: 1px solid;
	width: 550px;
	height: 400px;
	float: right;
	margin-top: 30px;
}

.menu{
	float: left;
	margin-top: 30px;
}

.title{
	margin-left: 15px;
}

.label-field-racas{
	width: 70%;
	margin-left: 15px;
}

.search-button{
	width: 25px;
	margin-left: 5px;
}

.adicionar-pet-button{
	width: 30px;
	margin-left: 6px;
}

.primeiro-pet, .primeiro-porte{
	font-size: 10px;
	margin-left: 15px;
}

.raca-tipo-pet, .porte-pet{
	font-size: 10px;
}

.table-racas{
	margin-left: 15px;
	width: 500px;
}

.excluir-button{
	width: 20px;
	padding-top: 2px;
}

.menu-racas-button, .menu-vacinas-button, .logout-button, .menu-editar-perfil, .menu-meus-pets,
.menu-mensagens, .menu-agendamento, .menu-minhas-avaliacoes, .menu-servicos{
	width: 150px;
	padding-bottom: 5px;
}

.table-raca-title{
	background-color: #60BB22;
	color: white;
	text-align: center;
}

.cadastra-raca-tipo-pet, .cadastra-raca{
	margin-left: 15px;
}

.seleciona-porte{
	width: 150px;
	height: 25px;
}

.label-field-vacina{
	margin-bottom: 15px;
	margin-left: 10px;
}

.cadastra-vacina{
	margin-left: 10px;
}

.cadastro-seleciona-sexo{
	width: 140px;
	height: 25px;
}

.editar-seleciona-sexo{
	width: 100px;
	height: 20px;
}

.cadastro-uf{
	width: 145px;
	height: 25px;
}

.editar-cadastro-uf{
	width: 70px;
	height: 20px;
}

.menu-profile-image{
	width: 150px;
	opacity: 0.8;
	padding-bottom: 8px;
}

.menu2-home{
	position: absolute;
	width: 125px;	
	margin-top: 23px;
	margin-left: 35px;
	z-index: 1;
}

.menu2-home2{
	position: absolute;
	width: 125px;	
	margin-top: 23px;
	margin-left: 35px;
	z-index: -1;
}

.menu2-amigos, .menu2-avaliacoes{
	position: absolute;
	width: 125px;	
	margin-top: 24px;
	margin-left: 155px;
	z-index: -1;
}

.menu2-avaliacoes{
	position: absolute;
	width: 125px;	
	margin-top: 25px;
	margin-left: 155px;
	z-index: -1;
}

.menu2-petshop{
	position: absolute;
	width: 125px;	
	margin-top: 25px;
	margin-left: 275px;
	z-index: -1;
}

.principal-cliente{
	position: relative;
}

.principal-petshop{
	position: relative;
	margin-top: 50px;
}

.menu-cliente{
	position: relative;
	margin-top: 50px;
}

.menu-petshop{
	position: relative;
	margin-top: 50px;
}

.selecionar-foto{
	font-size: 10px;
	text-align: right;
	position: absolute;
	margin-left: 50px;
	margin-top: 100px;
}